<br />
<h1>Корзина</h1>
<br />

<div id="card">
    {{#if courses.length}}

        <table>
            <thead>
                <th>Название</th>
                <th>Количество</th>
                <th>Действия</th>
            </thead>
            <tbody>
                {{#each courses}}
                    <tr>
                        <td>{{title}}</td>
                        <td>{{count}}</td>
                        <td>
                            <button class="btn btn-small btn-remove" data-id="{{id}}">Удалить</button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <p>
            <strong>Цена: <span class="price"> {{price}}</span></strong>
        </p>

    {{else}}
        <p>Козина пуста</p>
    {{/if}}
</div>