<div class="course-container">
    <div class="course-element">
        <h1>{{course.title}}</h1>
        <img class="course-image" src={{course.img}} alt={{course.title}} />
        <p>{{course.description}}</p>
        <p>
            <span>Цена за курс: </span>
            <span class="price">{{course.price}}</span>
        </p>
    </div>
</div>